/* Setting alignment and fonts */
body {
	display: flex;
	justify-content: center; /* Center align horizontally */
	align-items: center; /* Center align vertically */
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	min-height: 100vh; /* Ensure full viewport height */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
}

/* Defining card properties */
.card {
	width: 90%; /* Adjusted width for responsiveness */
	max-width: 400px; /* Added maximum width */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 20px; /* Added margin for spacing */
	padding: 2%;
}

header {
	font-size: larger;
}

header h1 {
	background-color: rgb(231, 231, 231);
	color: green;
	font-size: xx-large;
	padding: 1%;
}

/* Setting font and margin for text before input box */
label {
	font-size: large;
	margin: 10px 0; /* Adjusted margin */
}

button {
	font-size: large;
	padding: 10px; /* Adjusted padding */
}

input {
	width: calc(100% - 20px); /* Adjusted width for responsiveness */
	max-width: 300px; /* Added maximum width */
	height: 50px;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0; /* Adjusted margin */
}

#inputDob {
	margin: 20px 0; /* Adjusted margin */
}

p {
	font-size: larger;
	margin: 20px 0; /* Adjusted margin */
}

#currentAge {
	width: 76.5; /* Adjusted width for responsiveness */
	max-width: 400px; /* Added maximum width */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 20px; /* Added margin for spacing */
	padding: 7%;
	font-size: larger;
}
